[MASTER]
extension-pkg-whitelist=PyQt6,PyQt5
ignore=ankidata,venv,vendor,forms

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
  missing-module-docstring,
  missing-class-docstring,
  missing-function-docstring,
  consider-using-f-string,
  unused-argument,
  wildcard-import,
  unused-wildcard-import,
  too-many-locals,
  too-many-instance-attributes,
  broad-except,
  wrong-import-position,
  too-few-public-methods,
  line-too-long,

[BASIC]
good-names =
  mw,
  i,
  op,
