[MASTER]
extension-pkg-whitelist=PyQt6,PyQt5
ignore-paths=ankidata,venv,vendor

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
  missing-module-docstring,
  missing-class-docstring,
  missing-function-docstring,
  consider-using-f-string,
  unused-argument,
  wrong-import-position,
  too-few-public-methods,

[BASIC]
good-names =
  mw,
  i,
