-r requirements.txt
aqt==2.1.46
mypy==1.2.0
pylint==2.17.2
black==23.3.0
isort==5.12.0
types-requests==2.28.11.17
ankibuild[qt5,qt6] @ git+https://github.com/abdnh/ankibuild@46fbbd25045c2c5abcd106b3a5715e63f922b4fe